::after,
::before {
    box-sizing: border-box;
    font-family: "New Tegomin";
}

:root {
    --bold:600 ;
    --bolder: 700;
    --cream: #ffdd98;       
    --beige: #edab69;
    --ltbrn:#b87c3c;
    --mint:#6fc972;
    --ltgrn:#a1fda2;
    --dkgrn:#3c9845;


}

body{
    font-family: "new tegomin";
    font: var(--bold);
   background-color: var(--cream);
    width: 100%;
    height: 100%;
    margin:15px;
    font-family: new ;
}

header {
    display: flexbox;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: rgba(47, 104, 18, 0.801);
    border-radius: 1px;
    font: var(--bolder);
    font-family: "New Tegomin";
    display: inline-block;
    flex-direction: row;
}
.brand{
    font-size: 18px;
    font-family: "New Tegomin";

}
.nav-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: black;
    font-family: "New Tegomin";
    justify-content: space-evenly;
    list-style: none;
    font: var(--bold);
}

.nav-link {
    color: black;
    font-family: "New Tegomin";
}

a {
    display: block;
    text-decoration: none;
}



.card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 25px --8px gray;
}

.card-header {
    text-align: center;
    background-color: var(--ltbrn);
    font-family: "New Tegomin"; 
    width: 100%;
    height: 20%;
    box-shadow: 0px 0px 3px ;
}
.card-content {
    font-family: "New Tegomin";
    background-color: var(--beige);
    
}

#now {
    display: flexbox;
    position: absolute;
    width: 1099px;
    height: 213.07px;
    left: 163px;
    top: 202px;
    background-color: var(--beige);
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0px 0px 3px ;
}

.seed {
    display: flexbox;
    position: absolute;
    width: 520.17px;
    height: 230.55px;
    left: 163px;
    top: 478.34px;
    background-color: var(--beige);
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0px 0px 3px ;
}

.origins {
    display: flexbox;
    position: absolute;
    width: 520.17px;
    height: 230.55px;
    left: 741.83px;
    top: 478.34px;
    background-color: var(--beige);
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0px 0px 3px ;
}

.when {
    display: flexbox;
    position: absolute;
    width: 520.17px;
    height: 230.55px;
    left: 163px;
    top: 763.45px;
    background-color: var(--beige);
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0px 0px 3px ;
}

.companion {
    display: flexbox;
    position: absolute;
    width: 520.17px;
    height: 230.55px;
    left: 741.83px;
    top: 763.45px;
    background-color: var(--beige);
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0px 0px 3px ;
}

.garden {
    display: flexbox;
    position: absolute;
    width: 1099px;
    height: 213.07px;
    left: 163px;
    top: 1048.56px;
    background-color: var(--beige);
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0px 0px 3px ;
}

footer {
    align-items: center;
    display: flexbox;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color:Var(--ltbrn);
    top: 1500px;
    box-shadow: 0px 0px 3px ;
    font-family: "new Tegomin";
    padding: 10px;
    text-align: center;
}